.container {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  padding: 2em;
  border: 1px solid #e8e8e8;
}

.oval {
    width: 4.25rem;
    height: 4.25rem;
    border-style: solid;
    border-width: 5px;
    border-image-source: linear-gradient(to bottom, #379cf6);
    border-image-slice: 1;
    border-radius: 50%;
}

.statistics {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookDetails {
  width: 30%;
}
.category {
  opacity: 0.5;
  font-size: 0.875rem;
  font-weight: bold;
  color: #121212;
  font-family: Montserrat;
}

.title {
  color: rgb(0,0,0);
}

.author {
  color: #4386bf;
}

.button {
  background: transparent;
  border: none;
  padding-left: 0;
  color: #4386bf;
  font-size: 0.875rem;
  font-weight: 300;
}

.actions {
  margin-top: 1rem;
}

.chapter {
  color: #121212;
}
.chapterButton {
  background: #0290ff;
  border: none;
  color: #e8e8e8;
  padding: 0.5em 1em;
  border-radius: 3px;
  font-weight: 300;
}