@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Montserrat:wght@300;400;500&family=Poppins:wght@400;500;600&family=Roboto+Slab:wght@200;300;400;500&display=swap');

* {
  margin: 0;
}

body {
  background: #FAFAFA;
  font-family: 'Roboto Slab', serif;
  color: #121212;
}

.main-wrapper {
  padding: 0 100px;
}